body {
  background-color: skyblue;
}

main {
  margin: 40px 40px;
}

li {
  float: left;
  margin-right: 10px;
  list-style-type: none;
}

active {
  color: red;
  background-color: white;
}

section {
  text-align: center;
  margin: 5px 5px;
}

p {
  margin-left: 15px;
  margin-bottom: 10px;
}

form {
  text-align: center;
}